@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global css */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    font-family: "Poppins", sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;    
}

/* Custom Checkbox Style */
.custom-checkbox input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  border: 1px solid #B88E2F;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  cursor: pointer;
  position: relative;
  outline: none;
}

.custom-checkbox input[type="checkbox"]:checked {
  background-color: #B88E2F;
}

.custom-checkbox input[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}



/* css to remove arrows from input shop show */
/* Remove arrows from input type="number" in Chrome, Safari, Edge and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows from input type="number" in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


/* Override the Splide CSS of the home page's beautiful section for pagination */
@media (max-width: 1280px) {    
.splide__arrow--next::after {
    content: '>'; 
    color: #B88E2F !important; 
    font-size: 2rem; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .splide__arrow--prev::after { 
    content: '<'; 
    color: #B88E2F !important; 
    font-size: 2rem; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: 
    translate(-50%, -50%); 
}

  .splide__arrow--next, .splide__arrow--prev {
    position: relative;
    background: none !important; 
    color: transparent !important; 
    width: 30px !important;
    height: 30px !important;
    background-color: white !important;
  }
}

@media (min-width: 1280px) {    
    .splide__pagination.y-custom-pagination {
      display: flex !important;
      justify-content: flex-start !important; 
      align-items: center !important;
      margin-top: 1rem !important; 
      padding-left: 0.5rem !important; 
    }
  
    .splide__pagination.y-custom-pagination .splide__pagination__page {
      margin: 0 0.5rem !important; 
    }
  
    .splide__pagination.y-custom-pagination .splide__pagination__page.is-active {
      background-color: #B88E2F !important;       
    } 
    
    .splide__arrow--next {
      position: relative;
      background: none !important; 
      color: transparent !important; 
      width: 50px !important;
      height: 50px !important;
      background-color: white !important;
    }
  
    .splide__arrow--next::after {
      content: '>'; 
      color: #B88E2F !important; 
      font-size: 2rem; 
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
        
    /* Remove the left arrow */
    .splide__arrow--prev {
      display: none !important;
    }
  }

  /* Scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}


/* Adicione este CSS no seu arquivo de estilos */
input[type="radio"]:checked {
  background-color: black;
  border-color: black;
}

/* Hover buttons */
@layer utilities {
  .hover-gold-custom:hover {
    background-color: #f9c748; 
    color: black; 
  }
  .hover-white-custom:hover {
    background-color: black; 
    color: white; 
  }  
  .hover-white-gold-custom:hover {
    background-color: rgb(218, 168, 17); 
    color: white; 
  }  
}

/* Capé */

.parallax {
  background-attachment: fixed;
  
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 1586px) {
  .parallax {
    background-attachment: scroll;
    width: 1586px;
    margin: auto;
  }
}

.text-shadow-cape{
  text-shadow: 2px 2px 4px #000000;
}

/* navbar */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  transition: top 0.3s;
  z-index: 10;
}

.navbar-hidden {
  top: -100px;
}

/* user images */

.border-radius{
  border-radius: 50%;
  overflow: hidden;
  width: 8rem;
  height: 8rem;
  object-fit: contain;
  
}